<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" />
		{% block stylesheets %}{% endblock %}
		{% block topscripts %}{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block bottomscripts %}{% endblock %}
	</body>
</html>